<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.mdsd.recipe.design.Activator"
               id="hu.bme.mit.mdsd.recipe.design"
	       name="recipe">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.mdsd.recipe.design.CreateContainmentRelationOperation"
           id="hu.bme.mit.mdsd.recipe.design.CreateContainmentRelationOperation">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.mdsd.recipe.design.CreateSuccessionRelationOperation"
           id="hu.bme.mit.mdsd.recipe.design.CreateSuccessionRelationOperation">
     </javaActions>
  </extension>
</plugin>
