<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated recipe -->
      <package
            uri="hu.bme.mit.mdsd.recipe"
            class="hu.bme.mit.mdsd.recipe.RecipePackage"
            genModel="model/recipe.genmodel"/>
   </extension>

</plugin>
